# Fichiers de configuration sensibles
.env
settings.txt
bot_token.txt

# Bases de données
db/
*.sqlite
*.sqlite3

# Fichiers de cache et temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement Python
venv/
env/
.venv/
.env/

# Fichiers de proxy
proxy.txt

# Fichiers de sauvegarde
*.bak
*.backup
